<div class="footer">
    <div class="upper">
        <div class="left">
            <h5>Useful Links</h5>
            <div class="link">
                <div class="link1">
                    <a href="#">About</a>
                    <a href="#">Careers</a>
                    <a href="#">Blog</a>
                    <a href="#">Press</a>
                    <a href="#">Lead</a>
                    <a href="#">Value</a>
                </div>
                <div class="link1">
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                    <a href="#">FAQs</a>
                    <a href="#">Security</a>
                    <a href="#">Mobile</a>
                    <a href="#">Contact</a>
                </div>
                <div class="link1">
                    <a href="#">Partner</a>
                    <a href="#">Franchise</a>
                    <a href="#">Seller</a>
                    <a href="#">Warehouse</a>
                    <a href="#">Deliver</a>
                    <a href="#">Resources</a>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="head">
                <h5>Categories</h5>
                <a href="#" class="seeall">see all</a>
            </div>
            <div class="category">
                <div class="cat1">
                    <a href="#">Vegetables & Fruits</a>
                    <a href="#">Cold Drinks & Juice</a>
                    <a href="#">Bakery & Biscuits</a>
                    <a href="#">Dry Fruits,Masala & Oil</a>
                    <a href="#">Paan Corner</a>
                    <a href="#">Pharma & Wellness</a>
                    <a href="#">Ice Creams & Frozen Deserts</a>
                    <a href="#">Beauty & Cosmetics</a>
                    <a href="#">Magazines</a>
                </div>
                <div class="cat1">
                    <a href="#">Dairy & Breakfast</a>
                    <a href="#">Instant & Frozen Food</a>
                    <a href="#">Sweet Tooth</a>
                    <a href="#">Sauces & Spreads</a>
                    <a href="#">Organic & Premium</a>
                    <a href="#">Cleaning Essentials</a>
                    <a href="#">Personal Care</a>
                    <a href="#">Books</a>
                    <a href="#">Print Store</a>
                </div>
                <div class="cat1">
                    <a href="#">Munchies</a>
                    <a href="#">Tea, Coffee & Health Drinks</a>
                    <a href="#">Atta, Rice & Dal</a>
                    <a href="#">Chicken, Meat & Fish</a>
                    <a href="#">Baby Care</a>
                    <a href="#">Home & Office</a>
                    <a href="#">Pet Care</a>
                    <a href="#">Toys & Games</a>
                    <a href="#">Navratri Specials</a>
                </div>
            </div>
        </div>
    </div>


    <div class="lower">
        <div class="social">
            <div class="copyright">
                <p><i class="bi bi-c-circle"></i>Blink Commerce Private Limited, 2016-2024</p>
            </div>
            <div class="download">
                <h6>Download App</h6>
                <a href="https://apps.apple.com/in/app/blinkit-grocery-in-10-minutes/id960335206">
                    <img src="../../assets/dow.PNG" alt="">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.grofers.customerapp&hl=en_IN&gl=US&pli=1">
                    <img src="../../assets/downloadapp.PNG" alt="">
                </a>
            </div>
            <div class="app">
                <a href="https://www.facebook.com/blinkit.india/">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://x.com/letsblinkit/">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/letsblinkit/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://in.linkedin.com/company/letsblinkit">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.threads.net/@letsblinkit">
                    <i class="bi bi-threads-fill"></i>
                </a>
            </div>
        </div>
        <div class="policy">
            <p>“Blinkit” is owned & managed by "Blink Commerce Private Limited" and is not related, linked or
                interconnected in whatsoever manner or nature, to “GROFFR.COM” which is a real estate services business
                operated by “Redstone Consultancy Services Private Limited”.</p>
        </div>
    </div>
</div>